
.container {
  border: 5px solid #fc5;
  display: flex; /*Iniciando o Flexbox*/  
}

.home {
  flex: 1 1 200px; 
  flex-grow: 1; /*Aumentar*/
  flex-shrink: 1; /*Enconlher*/
  flex-basis: 200px;
}

.logout {
  flex-grow: 1; /*Aumentar*/
  flex-shrink: 1; /*Enconlher*/
  flex-basis: 200px;
}